.library {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    box-shadow: 2px 2px 50px rgb(206, 206, 206);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2{
        padding: 2rem;
    }
}

.library-song {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img {
        width: 30%;
    }

    &:hover {
        background: rgb(247, 240, 255);
    }
}

.song-description {
    // background-color: #FFFFFF;
    padding-left: 1rem;
    h3{
        font-size: 1rem;
    }

    h4{
        font-size: 0.7rem;
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background: transparent
}

*::-webkit-scrollbar-thumb{
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.selected {
    background: rgb(237, 222, 255);
}

.active-library {
    // background-color: #FFFFFF;
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library{
        width: 100%;
        // z-index: 10;
    }
}