*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2 {
    color: rgb(54, 54, 54);
}

h1 {
    font-size: 2rem;
    @media screen and (max-width: 768px) {
        font-size: 1rem;
    }
}

body{
    font-family: 'Lato', sans-serif;
}

h3,h4 {
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.App {
    transition: all 0.5s ease;
}

.library-active{
    margin-left: 30%;
}

.footer{
    font-weight: 600;
    display:inline-block;
    width: 100%;
    text-align: center;
    padding: 2rem;

    @media screen and (max-width: 768px) {
        padding: 1rem;
    }
}

.heart {    
    text-decoration: none;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";